
* {
    box-sizing: border-box;
}

body {
    /*background-image: url("../images/background.jpg");*/
    margin: 0;
}

.content {
    display:block;
    margin-left: 25%;
    margin-right: 25%;
}

.maint {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-left{
    float: left;
    width: 35%;
    text-align: right;
}

.column-right{
    float: right;
    width: 31%;
    text-align: left;

}
.column-center{
    display: inline-block;
    width: 33%;
    text-align: center;
}

.contacts {
    margin-right: 10%;
    float: right;
    text-align: left;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-char {
    color: #ff0000;
}

header {
    position: absolute;
    height: auto;
    width: 100%;
    overflow: auto;
    /*background-image: url("../images/background.jpg");*/
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: auto;
    /*background-image: url("../images/background.jpg");*/
    text-align: center;
}

header a {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .3s ease-in-out;
}

.logo {
    display:block;
    margin: auto;
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
