<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:fragment="header">
    <header>
        <div class="column-left">
            <img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}"/>
        </div>
        <div class="column-center">
            <h1>ПРОФ</h1>
            <h1>CПЕЦ</h1>
            <h1>CТАНДАРТ</h1>
        </div>
        <div class="column-right">
            <p>Тел.: + 7 (812) 67 098 66</p>
            <p>Email: info@psstd.ru</p>
            <p>Пн-Пт 9:00 – 18:00</p>
        </div>

        <img class="logo" src="../static/images/pic.jpg" th:src="@{/images/pic.jpg}"/>

        <nav>
            <ul class="topmenu">
                <li><a href="">Главная</a></li>
                <li><a href="">Профессиональная переподготовка</a></li>
                <li><a href="">Повышение квалификации</a></li>
                <li><a href="">Аттестация</a></li>
                <li><a href="">Сертификация</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>