<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:fragment="copy">
    <div class="column-left">
        <img src="../static/images/logo.jpg" th:src="@{/images/logo.jpg}"/>
    </div>
    <div class="column-center">
        <h3><span style="color: red; ">П</span>РОФ</h3>
        <h3>CПЕЦ</h3>
        <h3>CТАНДАРТ</h3>
    </div>
    <div class="column-right">
        <p>
            Тел.: + 7 (812) 67 098 66<br></br>Email: info@psstd.ru<br></br>Пн-Пт 9:00 – 18:00
        </p>
    </div>
    <br></br>
    <br></br>
    <img class="logo" src="../static/images/pic.jpg" th:src="@{/images/pic.jpg}"/>
    <br></br>
    <div class="menu">
        <nav>
            <ul class="topmenu" style="list-style: none;
                                        margin: 0;
                                        padding-left: 0;">
                <li style="float: left; margin-right: 5px;"><a href="http://psstd.ru/about">Главная</a></li>
                <li style="float: left; margin-right: 5px;"><a href="">Профессиональная переподготовка</a></li>
                <li style="float: left; margin-right: 5px;"><a href="">Повышение квалификации</a></li>
                <li style="float: left; margin-right: 5px;"><a href="">Аттестация</a></li>
                <li style="float: left; margin-right: 5px;"><a href="">Сертификация</a></li>
                <li style="float: left; margin-right: 5px;"><a href="">Контакты</a></li>
            </ul>
        </nav>
    </div>
    <br></br>
</div>
</body>
</html>